!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= @page_title || 'Community Site'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application-print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'application-ie.css', :media => 'screen, projection'
    = yield :more_head
  %body
    .container
      .header
        .header_title= link_to 'memcached', home_path
        %ul
          %li= link_to 'Home', home_path
          %li= link_to 'About', :controller => '/about'
          %li= link_to 'Blogs', :controller => '/blog'
          %li= link_to 'Download', :controller => '/download'
          %li
            <a href="/doc/main/Start">Documentation</a>
          %li
            <a href="/doc/main/Discuss">Discuss</a>
          %li= link_to 'Contact', :controller => '/support'
 
      .content= yield
      .clear
      .footer
        Site forked from 
        <a href="http://danga.com">Danga Interactive</a>
        and maintained by friends of memcached.
